/*
Theme  Name: Tic-tac-teo
Version: 1.0.0
Author: Arfin Labib
Description:

===================
Table of Content
-----------------------
1) Common CSS

*/

/* Common Section Css Start */
:root {
    --primary-font: 'Source Code Pro', monospace;
    --secondary-font: 'Arvo', serif;
    --primary-color: linear-gradient(90deg, rgb(11, 24, 45) 0%, rgb(188, 243, 253) 100%);
    --secandary-primary-color: linear-gradient(90deg, rgb(30, 165, 199) 0%, rgb(100, 211, 150) 49%);
    --common-white: #FFFFFF;
    --common-black: #000000;
    --sky-blue: #2fe1ec;
    --paragraph-color: #a5a5a5bb;
    --dark: rgb(194, 91, 144);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
small {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

.form-control:focus {
    box-shadow: none;
    outline: 0;
}


p {
    font-family: var(--secondary-font);
}

body {
    font-family: var(--primary-font);
    background: var(--dark);
    font-family: var(--primary-font);
    text-align: center;
}


/* common css end  */
/* tic tac teo start  */
.msg_container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.msg_container p {
    color: #30e0ff;
    text-transform: capitalize;
    font-size: 4vmin;
    font-weight: 800;
}

h1 {
    color: #290f3c;
    text-transform: capitalize;
    font-weight: 900;
    margin: 2rem;
    font-size: 5vmin;
}

.container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .game {
    height: 50vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.container .game .box {
    height: 16vmin;
    width: 16vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    font-weight: 800;
    background: rgb(93, 236, 240);
    color: #1a0b0bbb;
    box-shadow: 0px 0px 20px rgba(76, 76, 80, 0.4);
}

.reset_btn {
    font-size: 1.25rem;
    padding: 1rem;
    background-color: rgb(137, 93, 240);
    /* color: #ee3e3e00; */
    border-radius: 1rem;
    text-transform: capitalize;
    border: none;
    font-weight: 800;
    box-shadow: 0px 0px 50px rgba(28, 28, 30, 0.2);
    margin: 4rem;
}

.new_game {
    font-size: 1.25rem;
    padding: 1rem;
    /* color: #ee3e3e00; */
    background-color: rgb(137, 93, 240);
    border-radius: 0.5rem;
    text-transform: capitalize;
    border: none;
    font-weight: 500;
    box-shadow: 0px 0px 50px rgba(28, 28, 30, 0.2);
    margin: 20px;
}

.hide {
    display: none;
}


/* tic tac teo end  */